<h2>New user</h2>
<div class="content">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Password" %><br />
    <%= f.text_field :hashed_password %>
  </p>
  <p>
    <%= f.label "Password Confirmation" %><br />
    <%= f.text_field :hashed_password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to "homepage", root_url %>
<%= link_to 'Back', users_path %>
</div>